div#stat_report
{
	position:absolute;
	top:135px;
	
	}

li.report_light,li.report_darker,li.label,li.split
{
	display:block;
	float:left;
	margin:none;
	padding:none;
padding-top:3px;
padding-bottom:3px;
font-family:verdana,arial,sans-serif;
color:black;
font-size:10px;
height:25px;
overflow:hidden;
border:solid 1px #cdcdcd;
}
li.report_light, li.report_darker,li.split
{
	

text-align:center;
width:60px;
}
div.bridges_split li.report_light, div.bridges_split li.report_darker, div.bridges_split li.label
{
	border-top:none;
	border-bottom:none;
}
li.label
{


text-align:right;
width:230px;
}
ul.row,ul.row_lighter
{
display:block;
overflow:hidden;
}

 li.label
{

background-color:#ffffff;
}
 li.report_light
{

background-color:#fffdd7;
}
 li.report_darker
{

background-color:#ffffff;
}

div.bridges_split,div.bridges_sum,div.regular
{
float:none;
width:100%;
height:auto;
border:none;
margin:0;
padding:0;
overflow:hidden;

}
div.bridges_split
{
	display:none;
	}
div.regular,bridges_sum
{
	display:block;
	}
li.report_header,li.report_header_double,li.report_header_triple,li.report_header_quadruple
{
display:block;
	float:left;
padding-top:3px;
padding-bottom:3px;
text-align:center;
font-family:verdana,arial,sans-serif;
color:black;
font-size:10px;
border:solid 1px #cdcdcd;
height:40px;
background-color:#f4d0c0;
}
li.report_header
{

width:60px;
}
li.report_header_double
{

width:122px;
}
li.report_header_triple
{

width:184px;
}
li.report_header_quadruple
{

width:246px;
}


li.report_header_label
{
display:block;
	float:left;
	margin:none;
	padding:none;
padding-top:3px;
padding-bottom:3px;
font-family:verdana,arial,sans-serif;
color:black;
font-size:10px;
height:40px;
overflow:hidden;
border:solid 1px #cdcdcd;
width:230px;
}

li.event_block
{
padding:3px;
padding-top:3px;
padding-bottom:3px;
background-color:#bbff99;
text-align:center;
font-family:verdana,arial,sans-serif;
color:black;
font-size:10px;
width:100%;
}
ul.event_block_bridges
{
	width:970px;
border:none;
border-collapse:collapse;
}
ul.event_block_non_bridges
{
	width:908px;
border:none;
border-collapse:collapse;
}
ul.micro
{
border:none;
padding:none;
margin:none;
}
ul.micro li
{
border:none;
padding:none;
margin:none;
display:block;
width:60px;
float:left;
}
li.choose_report
{
display:block;
text-align:left;
}
li.choose_report_check
{
display:block;
text-align:left;
width:15px;

height:30px;
}
li.choose_report_check_label
{
display:block;
width:255px;
height:30px;
margin-left:20px;
margin-top:-30px;
overflow:hidden;

}
ul.choose_report_across
{
display:block;
}
ul.choose_report
{
	text-align:left;
display:block;
width:260px;
}
li.choose_report_across
{
display:block;
text-align:left;
float:left;
width:65px;
}
li.choose_report_across_wide
{
display:block;
text-align:left;
float:left;
width:130px;
}
li.choose_report_across_extra_wide
{
display:block;
text-align:left;
float:left;
width:260px;
}
div.choose_report_across
{
display:block;
float:left;
height:200px;
width:300px;
}
div.choose_report_submit
{
	position:absolute;
	top:300px;
	left:350px;
display:block;

height:40px;
width:100px;
}