@charset "UTF-8";
/* CSS Document */

/* Campus Staff Site InfoBase */


#wrapper {
  width: 966px;
  margin: 0px auto;
  position: relative; 
}


/* Logo bar styles */

a.logo {
  background: url(/modules/images/logo_infobase.gif) no-repeat;
  width: 185px;
  height: 49px;
  display: block;
  margin-top: 5px;
}

.help {
  font-size: 12px;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

#helpImg {
  position: relative;
  left: 86px;
  margin-bottom: 10px;
}

#helpside {
  position: relative;
  top: -10px; 
}

#helpside a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}


/* Menu bar styles */

#menuBar {
  background: url(/modules/images/menubg_body.png);
  clear: both;
  height: 51px;
}

#menuBar ul li.selected {
  background: url(/modules/images/hover_over_home_enterstats_andviewreports.gif) 50% 50% no-repeat;
}

#menuBar .submenubar ul li.report {
  margin-right: 146px;
}

#menuBar .submenubar ul li.ministry {
  margin-right: 64px;
}

#menuBar .submenubar ul li a.active {
  background: url(/modules/images/subnav_hover.gif) 50% 50% repeat-x;
}

#menuBar .submenubar ul li a:hover {
  background: url(/modules/images/subnav_hover.gif) 50% 50% repeat-x;
}

#menu_right {
  clear: right; 
}

#mainNav {
  width: 500px;
  height: 29px;
  margin-left: -20px;
}

#mainNav ul li {
  display: inline-block;
  padding: 0 15px 0 15px;
  height: 29px;
}

#mainNav ul li a {
  color: #ffffff;
  position: relative;
  top: 6px;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

#mainNav ul li:hover {
  background: url(/modules/images/hover_over_home_enterstats_andviewreports.gif) no-repeat 50% 50%;
  display: inline-block;
}

#quickSearch {
  width: 435px;
  position: relative;
  left: 520px;
  top: -64px;
}

#quickSearch select, #quickSearch input {
  margin-right: 4px;
}

#quickSearch a {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
}

.submenubar ul {
  margin-top: 2px;
}

.submenubar ul li a {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-right: 20px;
}

.submenubar ul li {
  display: inline;
  list-style-type: none;
}


/* Banner bar background style */

#bannerBar {
  background: url(/modules/images/header%20images/6.jpg) no-repeat;
  height: 116px;
  clear: both;
  border-bottom: 3px solid #969f5e;
}

/* Main content column styles */

#enterStats {
  width: 205px;
  float: left;
  margin-right: 130px;
  margin-left: 30px;
}

#steps {
  float: left;
  font-size: 35px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: bold;
  line-height: 230px;
  margin-top: -136px;
  color: #0060AE;
}

#instruct {
  margin-left: 50px;
  width: 205px; 
}

#instruct p, #viewReports p, .formText {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 17px;
}

#search {
  width: 285px;
  float: left;
  margin-right: 53px;
}

#strategy {
  float: left;
  width: 136px;
}

#region {
  width: 295px; 
}

#searchInfo {
  float: left;
  clear: both;
  margin-top: 12px;
}

#viewReports {
  width: 220px;
  float: left;
}


/* Footer styles */

#footer {
  clear: both;
  background: url(/modules/images/footer.gif) repeat-x;
  position: relative;
  top: 40px;
  padding: 20px 0 20px 30px;
}

#footer a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 30px;
}

#footer strong {
  color: #0060AE; 
}


/* Header text styles */

h1 {
  color: #0060AE;
  font-family: Corbel, Arial, sans-serif;
  margin-bottom: -16px; 
}

h3 {
  color: #5AB4F2;
  font-family: Palatino, Times, serif;
  font-style: italic;
  font-weight: lighter; 
}


/* Class styles */

.footer-text {
  position: relative;
  top: -2px;
}

.body-header {
  margin-bottom: 8px; 
}

.float-left {
  float: left;  
}

.float-right {
  float: right; 
}

.no-border {
  border: none; 
}

.select-divs {
  width: 60px;
  float: left;
}

.input-margin {
  margin-bottom: 5px; 
}

a {
  text-decoration: none;
}

img {
  border: 0px;
}

/* Styles for inner pages */

label {
  color: #5AB4F2;
  font-family: Palatino, Times, serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
}

#content {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.field  {
  margin-bottom: 25px;
}

.thecolumn {
  width: 420px;
}

#breadcrumb a {
  margin-right: 10px;
}

#breadcrumb {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 3px;
}

.quicksearch_open {
  position: absolute; 
}

.quicksearch_open table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}