/* CSS for FSK */

/* HTML tags */
/* for centering body in IE  body { text-align: center;  }*/

p {
	font-size: 10pt; 
	text-align: left; 
	color: black; }

h1 { /* "FSK Choice" */
	width: auto;
	font-size: 18pt;
	font-weight: bold;
	text-align: left;
	color: white;
	padding: 2px 0px 2px 5px;
	background-color: #336699; 
	margin: 0px 0px; }

h2 { /* subtitle */
	width: auto; 
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	color: #336699;
	background-color: #D0DDEA;
	padding: 2px 0px 2px 5px;
	margin: 0px; }
	
h3 { /* page sections */
    font-size: 14pt;
    font-weight: normal;
    text-align: left;
    color: #336699;
    border-bottom: 1px solid #336699;
    margin: 1.5em 0px 0.5em 0px; }
    
td { padding: 2px 2px; vertical-align: center; }

/* hyperlink declarations */
a:link { text-decoration: none;	color: #336699; }
a:visited { text-decoration: none; color: #336699; }
a:hover { text-decoration: underline; color: #336699; }
a:active { text-decoration: none; }

/* classes */
td.lbl { text-align: right; }

td.input { text-align: left; }

/* descendants */
tr.header {
	font-weight: bold;
	color: #D0DDEA; 
	background-color: #336699; 
	text-align: center; }

table.normal {	
	width: auto; 
	font-size: 10pt; 
	border: 1px solid #336699; 
	background-color: #D0DDEA; 
	color: #336699; 
	padding: 0px; 
	margin: 0px; 
	border-spacing: 0px; }
	
table.normal td { empty-cells: show; }

table.normal th { 
    font-size: 12pt;
    background-color: #336699; 
    color: white; 
    text-align: left; }
    
table.normal .subhead { font-weight: bold; border-top: 1px solid #336699; }

table.summary {	
	width: 100%; 
	font-size: 8pt; 
	border: 1px solid #336699;
	background-color: #D0DDEA; 
	color: #336699; 
	margin-top: 0.5em; }

table.summary td {
    width: 9%;
	text-align: center; 
	margin: 0px; 
	empty-cells: show; }

/* Page id's */

#wrapper {
/*	width: 780px; */
	overflow: hidden;
	margin: 0px;
	background-color: white;
	font-family: Arial, Times New Roman, Verdana, sans-serif; 
	text-align: left; 
	padding: 0px; }

#wrapper-summary { /* to be used on the FSK summary page */
	/*width: 845px;*/
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: Arial, Times New Roman, Verdana, sans-serif; }

#top-pane {
	width: inherit;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 15px; 
	padding: 0px; }

#footer {
	width: 100%;
	margin-top: 20px;
	font-size: 8pt;
	text-align: center; 
    padding: 0px; }

#help {
	width: 225px;
	text-align: right; 
	float: right;
	margin: -1px 0px 0px 15px; 
	/*border-left: 1px solid #D0DDEA; */
	clear: both; 
	padding: 0px; }

#help a {
	font-size: 10pt; 
	display: inline;
	padding: 5px 2px 0px 10px; 
	border-left: 1px solid #D0DDEA; }

#help a:hover {
	text-decoration: none; 
	background-color: #D0DDEA; } 

#logo {

	float: left;
	margin-top: 5px; }

#spacer {
	width: 100%; 
	height: 5px;
	background-color: white; 
	margin: 5px 0px 5px 0px; 
	clear: both; 
	padding: 0px; }

/* navbar */
#navbar {
	width: 600px; 
	height: auto;
	font-weight: bold;
	float: right;
	background-color: #336699; 
	text-align: right;
	margin-top: 5px; 
	padding: 0px; }

#navbar a {
	padding-left: 12px;
	padding-right: 6px;
	font-size: 10pt; 
	display: inline; 
	color: white;
	border-left: 1px solid white; 
	vertical-align: middle;  }

#navbar a:hover {
	text-decoration: none;
	color: #CCCC99; } 

.description {
  width: 400px;
  float: right;
  margin-top: -30px;
}