<% for column in Allocation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @allocation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @allocation %> |
<%= link_to 'Back', :action => 'list' %>
