<p>
An error has occured, and has been logged.  
We're sorry for the inconvenience, and ask for your patience.
</p>
<p>
If this error is repeatable, please contact <%= link_to("help@campuscrusadeforchrist.com", "mailto:help@campuscrusadeforchrist.com") %> to report it.
</p>