<h1>Editing order</h1>
<%= start_form_tag :action => 'update_product_order', :id => @order %>
  <%= render :partial => 'product_form' %>
  <%= submit_tag 'Save Changes' %>
<%= end_form_tag %>

<%= link_to 'Back to Summary', {:controller => "summary", :action => "local_summary"} %>
