<%= link_to "Place a kit order", {:action => "place_kit_order"} %><br />
<%= link_to "Place an order for individual items", {:action => "place_product_order"} %><br />
<%= link_to "Back to summary page", {:controller => "summary"} %>
