<%= start_form_tag :action => 'create_kit_order' %>
	<%= hidden_field("order","allocation_id",{:value => params[:allocation_id]})%>
  <%= render :partial => 'kit_form' %>
  <%= submit_tag "Place Order" %>
<%= end_form_tag %>

<br>
<%= link_to 'Back to Summary', {:controller => "summary", :action => 'local_summary'} %>
