<tr class="header">
    <td></td>
    <td>Impact Allocation</td>

    <td>Forerunner Allocation</td>
    <td>Regional Allocation</td>
    <td>Regional Raised</td>
    <td>Locally Raised</td>
    <td>Total Kits</td>
    <td>Kit Orders Pending</td>

    <td>Kits Not Yet Ordered</td>
    <td></td>
    <td></td>
</tr>