<tr class="header">
    <td width="9%"></td>
    <td width="9%">Impact Allocation</td>

    <td width="9%">Forerunner Allocation</td>
    <td width="9%">Regional Allocation</td>
    <td width="9%">Regional Raised</td>
    <td width="9%">Locally Raised</td>
    <td width="9%">Total Kits</td>
    <td width="9%">Kit Orders Pending</td>

    <td width="9%">Kits Not Yet Ordered</td>
    <td width="9%"></td>
    <td width="9%"></td>
</tr>