div#muster_report
{
	display:block;
	overflow:hidden;
	
	}
	
	div#muster_report  td.label_darker_blue,
	div#muster_report  td.report_light_blue,
	div#muster_report  td.report_darker_blue
{
display:block;
	float:left;
padding-top:3px;
padding-bottom:3px;
text-align:center;
font-family:verdana,arial,sans-serif;
color:black;
font-size:10px;
border:solid 1px #cdcdcd;
height:15px;
background-color:#f4d0c0;
}


	div#muster_report  td.report_light,
	div#muster_report  td.report_darker,
	div#muster_report  td.report_veryDark,
	div#muster_report  td.label_darker,
	div#muster_report  td.label_veryDark,
	div#muster_report  td.label_light
{
	display:block;
	float:left;
	margin:none;
	padding:none;
padding-top:3px;
padding-bottom:3px;
font-family:verdana,arial,sans-serif;
color:black;
background-color:#ffffff;
font-size:10px;
height:25px;
overflow:hidden;
border:solid 1px #cdcdcd;
}
	div#muster_report  td.label_darker_blue,
	
	div#muster_report  td.label_darker,
	div#muster_report  td.label_veryDark,
	div#muster_report  td.label_light
{
		background-color:#ffffff;
		width:230px;
		text-align:right;
		padding-right:5px;
	}
	
	div#muster_report  td.label_darker_blue
	{
	background-color:#f4d0c0;
	}
div#muster_report  td.report_light,
	div#muster_report  td.report_darker,
	div#muster_report  td.report_veryDark,
	
	div#muster_report  td.report_light_blue,
	div#muster_report  td.report_darker_blue
	{
	text-align:center;
	width:120px;
	}
	